.delete-box {
    text-align: center;
    margin-top: 50px;
    min-height: 100vh;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 8px 14px;
    margin-left: 10px;
    cursor: pointer;
}

.cancel-btn {
    background: skyblue;
    color: white;
    border: none;
    padding: 8px 14px;
    margin-left: 10px;
    cursor: pointer;
}